.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    z-index: 1000;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fixed-header .search-icon {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-header .mobile-logo {
    display: none;
}

.bottom-header {
    color: white;
    margin-top: 75px;
    background-color: var(--blue);
}

.bottom-header .bottom-header-text {
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.bottom-header-text h2 {
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    color: var(--blue);
    display: none;
}

.top-header input[type="checkbox"] {
    display: none;
}

#header-menu {
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-content {
    margin: 0 auto;
    width: var(--content-width);
    max-width: var(--content-max-width);
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

#header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#header-menu ul li {
    margin-right: 40px;
}

#header-menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    display: block;
    border-radius: 5px;
    padding: 10px 0;
}

#header-menu ul li a:hover {
    text-decoration: underline;
}

a.search-icon {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    margin-left: 1rem;
}

a.search-icon:hover {
    color: #0077cc;
}

/* Mobile styles */
@media (max-width: 600px) {
    .fixed-header .head-logo {
        display: none;
    }

    .fixed-header .mobile-logo {
        display: inline;
    }

    .menu-icon {
        display: inline;
    }

    #header-menu {
        position: fixed;
        top: 75px;
        right: 0;
        left: auto;
        width: 250px;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        z-index: 999;
    }

    input[type="checkbox"]:checked ~ #header-menu {
        transform: translateX(0);
    }

    #header-menu ul {
        display: block;
    }

    #header-menu ul li {
        margin: 20px 0;
    }
}
