.form-card label.required:after {
    content: " *";
    color: red;
}

.form-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 30px;
}

.form-card h2 {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
    margin-top: 30px;
}

.form-card label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.form-card input[type="text"],
.form-card textarea,
.form-card select,
.form-card input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.form-card textarea {
    resize: none;
}

.form-card button {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}

.form-card button:hover {
    background-color: #005bb5;
}

.form-card .message {
    color: var(--blue);
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3rem;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.form-card label.required:after {
    content: " *";
    color: red;
}
