<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LTU Project Repository</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    {{ template "header" . }}
    <div class="content">
        <h1>Edit Post</h1>
        <form action="/editEntry/{{.entry.ID}}" method="POST" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{.entry.Title}}">

            <label for="authors">Authors (separated by , ):</label>
            <input type="text" id="authors" name="authors" value="{{.entry.Author}}">

            <label for="gradlevel">Graduate Level:</label>
            <select id="gradlevel" name="gradlevel">
                <option value="Highschool" {{if eq .entry.GradLevel "Highschool"}}selected{{end}}>High School</option>
                <option value="Undergraduate" {{if eq .entry.GradLevel "Undergraduate"}}selected{{end}}>Undergraduate</option>
                <option value="Graduate" {{if eq .entry.GradLevel "Graduate"}}selected{{end}}>Graduate</option>
            </select>

            <label for="affiliations">Affiliations (separated by , ):</label>
            <input type="text" id="affiliations" name="affiliations" value="{{.entry.Affiliation}}">

            <label for="abstract">Abstract:</label>
            <textarea id="abstract" name="abstract" rows="10">{{.entry.Abstract}}</textarea>

            <label for="comments">Comments:</label>
            <textarea id="comments" name="comments" rows="4">{{.entry.Comments}}</textarea>

            <label for="keywords">Keywords (separated by , ):</label>
            <input type="text" id="keywords" name="keywords" value="{{.entry.Keywords}}">

            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="Accounting" {{if eq .entry.Category "Accounting"}}selected{{end}}>Accounting</option>
                <option value="Architecture" {{if eq .entry.Category "Architecture"}}selected{{end}}>Architecture</option>
                <option value="Audio Engineering" {{if eq .entry.Category "Audio Engineering"}}selected{{end}}>Audio Engineering</option>
                <option value="Biology" {{if eq .entry.Category "Biology"}}selected{{end}}>Biology</option>
                <option value="Biomedical Engineering" {{if eq .entry.Category "Biomedical Engineering"}}selected{{end}}>Biomedical Engineering</option>
                <option value="Business" {{if eq .entry.Category "Business"}}selected{{end}}>Business</option>
                <option value="Business Data Analytics" {{if eq .entry.Category "Business Data Analytics"}}selected{{end}}>Business Data Analytics</option>
                <option value="Chemistry" {{if eq .entry.Category "Chemistry"}}selected{{end}}>Chemistry</option>
                <option value="Civil Engineering" {{if eq .entry.Category "Civil Engineering"}}selected{{end}}>Civil Engineering</option>
                <option value="Computer Engineering" {{if eq .entry.Category "Computer Engineering"}}selected{{end}}>Computer Engineering</option>
                <option value="Computer Science" {{if eq .entry.Category "Computer Science"}}selected{{end}}>Computer Science</option>
                <option value="Construction Engineering" {{if eq .entry.Category "Construction Engineering"}}selected{{end}}>Construction Engineering</option>
                <option value="Data Science" {{if eq .entry.Category "Data Science"}}selected{{end}}>Data Science</option>
                <option value="Economics" {{if eq .entry.Category "Economics"}}selected{{end}}>Economics</option>
                <option value="Electrical Engineering" {{if eq .entry.Category "Electrical Engineering"}}selected{{end}}>Electrical Engineering</option>
                <option value="Engineering" {{if eq .entry.Category "Engineering"}}selected{{end}}>Engineering</option>
                <option value="Finance" {{if eq .entry.Category "Finance"}}selected{{end}}>Finance</option>
                <option value="Game Design" {{if eq .entry.Category "Game Design"}}selected{{end}}>Game Design</option>
                <option value="Graphic Design" {{if eq .entry.Category "Graphic Design"}}selected{{end}}>Graphic Design</option>
                <option value="Industrial Engineering" {{if eq .entry.Category "Industrial Engineering"}}selected{{end}}>Industrial Engineering</option>
                <option value="Information Technology" {{if eq .entry.Category "Information Technology"}}selected{{end}}>Information Technology</option>
                <option value="Interior Design" {{if eq .entry.Category "Interior Design"}}selected{{end}}>Interior Design</option>
                <option value="Marketing" {{if eq .entry.Category "Marketing"}}selected{{end}}>Marketing</option>
                <option value="Mathematical Science" {{if eq .entry.Category "Mathematical Science"}}selected{{end}}>Mathematical Science</option>
                <option value="Mathematics" {{if eq .entry.Category "Mathematics"}}selected{{end}}>Mathematics</option>
                <option value="Mechanical Engineering" {{if eq .entry.Category "Mechanical Engineering"}}selected{{end}}>Mechanical Engineering</option>
                <option value="Media Arts and Production" {{if eq .entry.Category "Media Arts and Production"}}selected{{end}}>Media Arts and Production</option>
                <option value="Media Communication" {{if eq .entry.Category "Media Communication"}}selected{{end}}>Media Communication</option>
                <option value="Nursing" {{if eq .entry.Category "Nursing"}}selected{{end}}>Nursing</option>
                <option value="Philosophy" {{if eq .entry.Category "Philosophy"}}selected{{end}}>Philosophy</option>
                <option value="Physics" {{if eq .entry.Category "Physics"}}selected{{end}}>Physics</option>
                <option value="Product Design" {{if eq .entry.Category "Product Design"}}selected{{end}}>Product Design</option>
                <option value="Psychology" {{if eq .entry.Category "Psychology"}}selected{{end}}>Psychology</option>
                <option value="Robotics Engineering" {{if eq .entry.Category "Robotics Engineering"}}selected{{end}}>Robotics Engineering</option>
                <option value="Sports Management" {{if eq .entry.Category "Sports Management"}}selected{{end}}>Sports Management</option>
                <option value="Technological Humanities" {{if eq .entry.Category "Technological Humanities"}}selected{{end}}>Technological Humanities</option>
            </select>

            <div class="checkbox-group">
                <input type="checkbox" id="patentable" name="patentable" {{ if .entry.Patentable }} checked {{ end }}>
                <label for="patentable">Patentable</label>
            </div>

            <label for="license">License:</label>
            <select id="license" name="license">
                <option value="CC BY" {{if eq .entry.License "CC BY"}}selected{{end}}>Creative Commons Attribution (CC BY)</option>
                <option value="CC BY-SA" {{if eq .entry.License "CC BY-SA"}}selected{{end}}>Creative Commons Attribution-ShareAlike (CC BY-SA)</option>
                <option value="CC BY-ND" {{if eq .entry.License "CC BY-ND"}}selected{{end}}>Creative Commons Attribution-NoDerivs (CC BY-ND)</option>
                <option value="CC BY-NC" {{if eq .entry.License "CC BY-NC"}}selected{{end}}>Creative Commons Attribution-NonCommercial (CC BY-NC)</option>
                <option value="CC BY-NC-SA" {{if eq .entry.License "CC BY-NC-SA"}}selected{{end}}>Creative Commons Attribution-NonCommercial-ShareAlike (CC BY-NC-SA)</option>
                <option value="CC BY-NC-ND" {{if eq .entry.License "CC BY-NC-ND"}}selected{{end}}>Creative Commons Attribution-NonCommercial-NoDerivs (CC BY-NC-ND)</option>
                <option value="MIT" {{if eq .entry.License "MIT"}}selected{{end}}>MIT License</option>
                <option value="GPLv3" {{if eq .entry.License "GPLv3"}}selected{{end}}>GNU General Public License v3.0 (GPLv3)</option>
                <option value="Apache 2.0" {{if eq .entry.License "Apache 2.0"}}selected{{end}}>Apache License 2.0</option>
                <option value="Unlicense" {{if eq .entry.License "Unlicense"}}selected{{end}}>The Unlicense</option>
            </select>
            <button type="submit">Submit</button>
        </form>

        <form action="/addFile/{{ .entry.ID }}" method="post" enctype="multipart/form-data">
            <label for="file">Select file:</label>
            <input type="file" id="file" name="file" required>
            <label for="filetype">Type: </label>
            <select id="filetype" name="filetype" required>
                <option value="Poster">Poster</option>
                <option value="Paper">Paper</option>
                <option value="Presentation">Presentation</option>
            </select>
            <input type="submit" value="Add New File">
        </form>

        {{ range .files }}
        <iframe src="/download/{{ . }}" width="100%" height="600px" title="PDF Viewer"></iframe>
        <form action="/replaceFile/{{ . }}" method="post" enctype="multipart/form-data">
            <label for="file">Choose a file:</label><br><br>
            <input type="file" id="file" name="file" required><br><br>
            <select id="category" name="category">
                <option value="Poster">Poster</option>
                <option value="Paper">Paper</option>
                <option value="Presentation">Presentation</option>
            </select>
            <input type="submit" value="Replace Current File">
        </form>
        <form action="/deleteFile/{{ . }}" method="post" enctype="multipart/form-data">
            <input type="submit" value="Delete Current File">
        </form>
        {{ end }}

        <form action="/delete/{{ .entry.ID }}" method="post" enctype="multipart/form-data">
            <input type="submit" value="Delete Entry">
        </form>
    </div>
    {{ template "footer" }}
</body>
</html>
