{{ define "header" }}
<header>
    <div class="fixed-header">
        <div class="top-header">
            <div class="head-logo"><img src="/LTU-head-logo.webp" alt="LTU head logo"></div>
            <div class="mobile-logo"><img src="/logo-mobile.webp" alt="LTU head logo"></div>
            <!--<div class="search-icon">🔍</div>-->
            <a href="/search" class="search-icon">🔍</a>
            <input type="checkbox" id="menu-toggle"/>
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
        </div>
    </div>
    <div class="bottom-header">
        {{ if .Title }}
        <div class="bottom-header-text">
            <h2>{{ .Title }}</h2>
        </div>
        {{ end }}
    </div>
    <nav id="header-menu">
        <div class="nav-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/search">Search</a></li>
                {{ if .User }}
                <li><a href="/submit">Submit</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Signout</a></li>
                {{ else }}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
{{ end }}
